.hostContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
.infoContainer {
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
