.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.nav a:link,
.nav a:visited {
  text-decoration: none;
  color: var(--color-brand--1);
  font-weight: 500;
}

.nav a:global(.active) {
  text-decoration: underline;
}
