.titleContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.title {
  color: var(--color-brand--1);
  margin-bottom: 1rem;
  text-align: left;
}

.tagContainer {
  display: flex;
  justify-content: start;
  gap: 1rem;
  flex-wrap: wrap;
}

.tag {
  padding: 10px 15px;
  background-color: var(--color-brand--1);
  border-radius: 35px;
  color: white;
}
