:root {
  --color-brand--1: #ff6060;
  --color-ligth--1: #f6f6f6;
  --color-dark--1: #000000;
}

body {
  margin: 2rem;
  max-width: 1240px;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Montserrat", "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
